<!DOCTYPE html>
<html lang="en">

    <head>
        {{!-- headtag --}}
        {{>headtag}}
        <title>about</title>
    </head>

    <body class="logiin_body">
        {{!-- Navigation  --}}
        {{>navbar}}


        {{!-- <div class="loginform"> --}}
        <div class="mainloginContainer flex flex-colounm aling-center">

            <h1>about page </h1>


            <h3>Login Sucessfully </h3>
        </div>

        {{!-- Footer  --}}
        {{>footer}}
        <script src="JS/navscript.js"></script>
        {{!-- <script src="JS/script.js"></script> --}}
    </body>

</html>