<header class="header flex aling-center justify-center">
    <div class="hamburger_btn">
        <p></p>
        <p></p>
        <p></p>
    </div>
    <nav class="navbar flex aling-center justify-between main_width">
        <span class="clr_white underline_none boldfont name">Amit Kumar </span>
        <ul class="flex aling-cente">

            <li class="li_style_none"><a href="/register" class="clr_white underline_none ">Register</a></li>
            <li class="li_style_none"><a href="/login" class="clr_white underline_none">Login</a></li>

            <li class="li_style_none"><a href="/aboutpage" class="clr_white underline_none">About page</a></li>
            <li class="li_style_none"><a href="/" class="clr_white underline_none">Home page</a></li>

            <li class="li_style_none"><a href="/logout" class="clr_white underline_none">Logout</a></li>
            <li class="li_style_none"><a href="/alldevicelogout" class="clr_white underline_none">All Device Logout</a>
            </li>





        </ul>

        <!--End Navigation -->
    </nav>

    <div class="Errorbox" id="errorbox">
        <p class="errormessage">This is a Error box </p>
        <button class="cancel_btn boldfont">Cancel</button>
    </div>
</header>